<div class="ng-container">
    <header>
        <h1 id="page-title">Your Library</h1>
    </header>
    <main id="main-screen">
        <ul id="library-list">
            <a class="nav-link" href="#/library">
                <div>
                    <li>Made for You</li>
                </div>
            </a>
            <a class="nav-link" href="#/playlist">
                <div>   
                    <li>Playlist</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Stations</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Songs</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Albums</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Artists</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Podcasts</li>
                </div>
            </a>
            <a class="nav-link" href="#/library">
                <div>
                    <li>Videos</li>
                </div>
            </a>
        </ul>
    </main>
</div>